
.create-bg {
  height: 100vh;
  background: linear-gradient(90deg, #6b11cb91, #2575fc, #6a11cb);
  display: flex;
  justify-content: center;
  align-items: center;
  width:1000px;
}

.create-container {
  background-color: #1e1e2f;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  width: 90%;
  max-width: 600px;
  color: #fff;
}

.create-container .create {
  text-align: center;
  margin-bottom: 20px;
}

.create-container input[type="text"] {
  width: 96%;
  padding: 10px;
  margin: 10px 0;
  background-color: #0a0a0f00;
  border: 1px solid #717171;
  color: #fff;
  border-radius: 5px;
}


.question-block {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #21213b;
  border-radius: 8px;
}

.option-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.option-line input[type="text"] {
  flex: 1;
}

.add-btn {
  padding: 10px 16px;
  margin: 10px 5px 0 0;
  background-color: #444cfc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.add-btn:hover {
  background-color: #4469ce;
}

.submitt-btn {
  background-color: #3f894f;
  transition: background 0.2s ease
}

.submitt-btn:hover {
  border-color:green;
  background-color: #00a65a;
}
