
.bg {
  background-color: black;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.title-image {
  width: 590px; 
  height: auto;
  margin-bottom: 20px;
}

.login {
  background:  linear-gradient(90deg, #6a11cb, #2575fc, #6a11cb);
  border: none;
  padding: 18px 39px;
  color: white;
  margin-bottom:2.5%;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  width:13%;
  transition: background-position 0.5s, transform 0.3s, box-shadow 0.3s;
  background-size: 200% 200%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.login:hover {
  background-position: right center;
  transform: scale(1.08) translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.4);
}

