body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f6e29c;
}

.quiz-bg {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  min-height: 100vh;
  background: #f6e29c;
}

.rules-list {
  text-align: left;
  font-size: 25px;
  color:#493603;
  
 
  
}
.rules-list li {
  margin-bottom: 18px;
}

.tot-container {
  width: 100%;
  max-width: 900px;
  height: 600px;
  background-color: #fffde7;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 40px;
  border: 3px solid #ffe58f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-container1,
.quiz-container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.progress {
  font-size: 20px;
  color: #68470d;
  font-weight: 600;

}
.complete{
  font-size: 40px;
  color: #68470d;
  font-weight: 600;
}

.timer {
  font-size: 18px;
  color: #8c6d1f;
  font-weight: 500;
}

.question {
  font-size: 24px;
  font-weight: bold;
  color: #614700;
  margin: 20px 0;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex: 1;
  overflow-y: auto;
}

.option-label {
  font-size: 18px;
  color: #5c3a00;
  background-color: #fffbe6;
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid #ffe58f;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 90%;
}

.option-label:hover {
  background-color: #fff1b8;
}

.option-label input {
  margin-right: 12px;
  transform: scale(1.2);
}

.submit-btn {
  background-color: #f0ce72;
  border: none;
  color: #533603;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background-color: #eac05d;
}

.submit-btn.cancel {
  background-color: #f1b9b4;
  color: #6c0410;
}

.submit-btn.cancel:hover {
  background-color: #e3afad;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.submit-btn.nav {
  flex: 1;
}

.submit-btn.submit {
  flex: 2;
}

.score {
  font-size: 20px;
  color: #493603;
  margin: 20px 0;
}
